<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission to access and modify Do Not Disturb settings -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <application>
        <activity
            android:name=".UnfairActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
        </activity>
    </application>

</manifest>
