<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission to access and modify Do Not Disturb settings -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <!-- Permissions for shake detection -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application>
        <activity
            android:name=".UnfairActivity"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
        </activity>

        <!-- Service for shake detection -->
        <service
            android:name=".launch.UnfairLaunchService"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="launcher_assistant" />
        </service>
    </application>

</manifest>
